@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');

html, body, #root, .App {
  height: 100vh !important;
  width: 100%;
  text-align: left;
  display: block;
  font-family: 'Consolas';
  scroll-behavior: smooth;
}