.banner-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/Welcome2.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 22px;

    span {
        font-size: 2em;
        font-weight: bold;
    }

    .intro {
        padding: 50px 120px;
        color: white;
        height: 50%;
    }

    .social {
        color: white;
        font-size: 16px;
        align-items: center;
        text-align: center;

        .icon:hover {
            color: #ff00ff;
        }
    }
}

.work-container {
    width: 100vw;
    height: auto;
    background-color: black;
    position: relative;
    font-size: 22px;
    text-align: center;
    color: white;

    hr {
        border-color: #ff00ff;
    }

    .text {
        padding: 20px;
        font-size: 22px;
    }
}

.project-container {
    width: 735px;
    height: 375px;
    border: solid 1px white;
    position: relative;
    cursor: pointer;
    margin: auto;
    perspective: 500px;

    img {
        width: 735px;
        height: 375px;
        
    }

    .image-container{
        opacity: 1;
        transition: all 0.4s ease-in;
    }

    .text-container {
        white-space: pre-line;
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotateY(180deg);
        transform-origin: 50%;
        background: #FF00FF;
        color: black;
        opacity: 0;
        transition: all 0.4s ease-in;
    }
}

.project-container:hover .text-container {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
}

.project-container:hover .image-container {
    transform: rotateY(-180deg);
    opacity: 0;
}
