.banner-container {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/Welcome2.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 22px;
    background-size: cover;

    span {
        font-size: 2em;
        font-weight: bold;
    }

    .intro {
        padding: 50px 120px;
        color: white;
        height: 50%;
    }

    .social {
        color: white;
        font-size: 16px;
        align-items: center;
        text-align: center;

        .icon:hover {
            color: #ff00ff;
        }

        h3 {
            margin-bottom: 0px;
        }
    }
}

.work-container {
    width: 100vw;
    height: auto;
    background-color: black;
    position: relative;
    font-size: 2vw;
    text-align: center;
    color: white;

    hr {
        border-color: #ff00ff;
        border-width: 2px;
    }

    .text {
        padding: 20px;
        font-size: 2vw;
    }
}

.project-container {
    width: 50%;
    height: auto;
    border: solid 1px white;
    position: relative;
    cursor: pointer;
    margin: auto;
    background: #ff00ff;
    //perspective: 500px;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    .image-container {
        opacity: 1;
        transition: 0.5s ease-out;
        width: 100%;
        height: 100%;
    }

    .text-container {
        white-space: pre-line;
        font-size: 1.5vw;
        width: 90%;
        height: 100%;
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // rotateY(180deg);
        transform-origin: 50%;
        color: black;
        opacity: 0;
        transition: 0.5s ease-in;
    }
}

.git:hover {
    color: white;
}

.arrow-container {
    margin: auto;
    width: fit-content;
    padding: 20px 0px;
    text-align: center;

    a {
        color: white;
        text-decoration: none;
    }

    .text {
        color: white;
        font-size: 12px;
    }
}

.arrow {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow-container:hover {
    .arrow {
        border-bottom-width: 3px;
        border-right-width: 3px;
        border-color: #ff00ff;
    }

    .text {
        color: #ff00ff;
    }
}

#Project {
}

.project-container:hover .text-container {
    transform: translate(-50%, -50%); // rotateY(0deg);
    opacity: 1;
}

.project-container:hover .image-container {
    //transform: rotateY(-180deg);
    opacity: 0;
}

.about-container {
    background-color: #ff00ff;
    text-align: center;
    font-size: 2vw;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;

    hr {
        border-color: black;
        border-width: 2px;
    }

    h1 {
        margin: 0px;
        padding: 40px;
    }

    .bubble-container {
        margin-top: 40px;
        min-width: 25%;
        width: 450px;
        height: auto;
        left: 15%;
        position: relative;
    }

    .bubble {
        width: 100%;
        height: 300px;
        border: 2px black solid;
        background-color: white;
        border-radius: 90%;

        p {
            font-size: 22px;
            vertical-align: 50%;
            padding: 40px;
        }
    }

    .bubbles {
        width: 50px;
        height: 30px;
        border: 2px black solid;
        background-color: white;
        border-radius: 90%;
        left: 65%;
        position: relative;
    }

    .bubbles2 {
        width: 25px;
        height: 15px;
        border: 2px black solid;
        background-color: white;
        border-radius: 90%;
        left: 75%;
        position: relative;
    }

    img {
        padding: 0px;
        width: 400px;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .banner-container {
        width: 100vw;
        height: auto;
        font-size: 16px;
        background-size: cover;

        .intro {
            padding: 40px 40px;
        }

        .social {
            font-size: 14px;
            padding-top: 40px;

            h3 {
                padding-bottom: 20px;
            }
        }
    }
    .project-container {
        width: 100vw;
        height: auto;

        .text-container {
            font-size: 2.5vw;
        }

        .git {
            height: 60px;
            width: 60px;
        }
    }
    .about-container {

        .bubble-container {
            min-width: 25%;
            width: 75%;
            height: auto;
            margin: 40px auto;
            left: 0%;
        }
    
        .bubble {
            width: 100%;
            height: 25%;

            p {
                font-size: 4vw;
            }
        }
    
        .bubbles {
            width: 50px;
            height: 30px;
        }

        img {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 860px) {
    .banner-container {
        font-size: 12px;
    }

    .project-container {
        .text-container {
            font-size: 3vw;
        }

        .git {
            height: 45px;
            width: 45px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .banner-container {
        .intro {
            padding: 40px 40px;
            color: white;
            height: 50%;
        }
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 860px) {
    .banner-container {
        width: 100vw;
        height: auto;

        .social {
            padding-top: 80px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .banner-container {
        font-size: 6px;
        width: 100vw;
        height: auto;

        .intro {
            padding: 15px 10px 0px 15px;
        }

        .social {
            font-size: 6px;
            padding-top: 100px;

            svg {
                height: 40px;
                width: 40px;
            }
        }
    }

    .project-container {
        .git {
            height: 30px;
            width: 30px;
        }
    }
}

@media only screen and (max-width: 300px) {
    .project-container {
        .git {
            height: 25px;
            width: 25px;
        }
    }
}

@media only screen and (max-width: 300px) {
    .project-container {
        .git {
            height: 15px;
            width: 15px;
        }
    }
}
