$background: #111111;

.responsive-top {
    display: flex;
    color: #ffffff;
    background-color: $background;
    height: auto;
    width: auto;

    ul {
        background-color: $background;
        display: flex;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        height: 100%;
        align-items: center;
    }

    .top-bar {
        margin: auto;
        padding-left: 15px;
        width: 100%;

        li {
            display: block;
            height: 100%;
            width: 172px;
            text-align: center;
            line-height: 80px; 
            margin: auto;
            font-size: 18px;
            
            
            #home {
                font-weight: bold;
                left: 0%;
            }
        }

        li a {
            display: initial;
            width: 100%;
            color: white;
            text-decoration: none;
            padding: 29px 16px;
        }

        li a:hover {
            background-color: #272727;
            color: white;
        }

        li a:focus {
            color: white;
        }
    }
}

.responsive-side {
    display: flex;
    color: #ffffff;
    background-color: $background;
    width: 64px;
    height: 100%;

    .side-bar {
        display: fixed;
        list-style-type: none;
        margin: auto;
        padding: 0;
        left: 0;
        height: 100%;
        width: 100%;

        li {
            margin: 26px 0px;
            font-size: 11px;
            text-align: center;
        }

        a {
            padding: 0px;
        }

    }
}