@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');


html, body, #root, .App {
  height: 100vh !important;
  width: 100%;
  text-align: left;
  display: block;
  font-family: 'Consolas';
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  
}

@media only screen and (max-width: 1024px) {


}

